<!DOCTYPE html>
<html lang="en">
<head>
<center>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <font color="DarkBlue" size="5" style="font-family: avenir">
        <body bgcolor="grey">
            <h2>DETAILS SAVED SUCCESSFULLY!!</h2><br>
            <h3>The Following Student has been added to the database</h3><br>
            <h3>{{ name }}</h3><br>
            <title>Add Student Output</title>
                <form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

                </form>
        </body>
    </font>
</center>
</head>
<body>
    
</body>
</html>