<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DarkBlue">Student Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Student ID:<br> {{ Student_ID }} <br><br>

			  		First Name:<br> {{ Fname }} <br><br>

			  		Last Name:<br> {{ Lname }} <br><br>

			  		Course Name:<br> {{ Course_Name }} <br><br>

			  		Year of Study:<br> {{ YearofStudy }} <br><br>


			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getstud">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
